{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="has-text-centered">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci corrupti molestias, a asperiores illo aspernatur at, cum hic velit amet excepturi assumenda cumque nostrum perferendis vero in ea! Voluptate ex unde quidem numquam enim. Impedit quibusdam provident expedita deserunt quo!
        </div>
    </div>
</section>

{% endblock %}